<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Address Book</title>
</head>
<body>
  <div class="jumbotron">
    <br>
    <br>
    <br>
    <h3>C#:Week 1 Project</h3>
    <h3>October 2017</h3>
    @* <img id="flowerbook" src="/img/wc2.jpg"> *@
  </div>
  <div class="container">
    @RenderBody()
  </div>
</body>
</html>
