@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Address Book User Form </h1>
</div>
<div class="container">
  <form action="/AddContact" method="post">
    <div class='form-group'>
      <label for="contactName">Add full Name of contact</label>
      <input id="contactName" name="contactName" class='form-control' type="text">

      <label for="contactPhoneNumber">Add contact's phone number</label>
      <input id="contactPhoneNumber" name="contactPhoneNumber" class='form-control' type="text">

      <label for="contactAddress">Add contact's address</label>
      <input id="contactAddress" name="contactAddress" class='form-control' type="text">

      <button type="submit">Submit</button>
    </form>
  </div>
</div>


<h1>Contact List</h1>
<ul>
  <li>@Model.GetContactDescription()</li>
</ul>
