@{
  Layout = "_Layout";
}
<body>
    <h1>Here are your contact details!</h1>
      <ul>
        <li>@Model.GetName()</li>
        <li>@Model.GetPhone()</li>
        <li>@Model.GetAddress()</li>
      </ul>
    <div class="row">
      <a href='/contact/AddContacts'>Add Another Contact</a>
    </div>
    <div class="row">
      <a href='/'>Go to homepage</a>
    </div>  
</body>
