<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
  <title>AddressBook</title>
</head>
    <h1>Here are your contact details!</h1>
      <ul>
        <li>@Model.GetName()</li>
        <li>@Model.GetPhoneNumber()</li>
        <li>@Model.GetAddress()</li>
      </ul>
      <a href='/contact/AddContacts'>Add Another Contact</a>
      <a href='/'> View all your current Contacts</a>
