<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
  <title>AddressBook</title>
</head>
<body>
    <h1>Here are your contact details!</h1>
      <ul>
        <li>@Model.GetName()</li>
        <li>@Model.GetPhone()</li>
        <li>@Model.GetAddress()</li>
      </ul>
      <a href='/'>Add Another Contact</a>
      
</body>
