<h1>You've added a new contact!</h1>
<p>@Model.GetName()</p>
<p>@Model.GetPhoneNumber()</p>
<p>@Model.GetContactAddress()</p>
<p><a href="/AddContacts">Add another contact</a></p>
<p><a href="/ContactDetails">View current contact</a></p
