<h1>You've added a new contact!</h1>
<p>@Model.GetName()</p>
<p>@Model.GetPhoneNumber()</p>
<p>@Model.GetAddress()</p>
<p><a href="/">Add another contact</a></p>
<p><a href="/cars">View current contact</a></p
