@{
  Layout = "_Layout";
}
<h1><a href='/contact/AddContacts'>Add Contact</a></h1>
<h1> Contact List </h1>
<ul>
  @foreach(var contact in Model)
  {
    <p><a href='/contact/@contact.GetId()'>@contact.GetName()</a></p>
  }
</ul>
<br>
<form action="/contact/ClearContacts" method="post">
  <button type="submit" name="button">Clear contacts created</button>
</div>
</form>
</body>
