<h1>Address Book User Form </h1>
<form action="/contact/list">
  <label for="new-contact">Add a new contact</label>
  <input id="new-contact" name="new-contact" type="text">
  <button type="submit">Submit</button>
</form>
