@{
  Layout = "_Layout";
}
<form action="/contact/ClearContacts" method="post">
  <h1>Address Book</h1>
</div>
<p><a href='/contact/AddContacts'>Add Contact</a></p>
<h1> Contact List </h1>
<ul>
  @foreach(var contact in Model)
  {
    <li><a href='/contact/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>
<br>
<button type="submit" name="button">Clear contacts created</button>
</div>
</form>
</body>
