<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
  <title>AddressBook</title>
</head>
<body>
  <div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
    <img id="flowerbook" src="/img/52157165.jpeg">
  </div>

  <p><a href='/contact/AddContacts'>Add Contact</a></p>

    <h1> Contact List </h1>
    <ul>
      @foreach(var contact in Model)
      {
        <li><a href='/contact/@contact.GetId()'>@contact.GetName()</a></li>
      }
    </ul>
    <br>
    <form action="/contact/ClearContacts" method="post">
      <button type="submit" name="button">Clear contacts created</button>
    </div>
  </form>
</body>
