<h1>Address Book User Form </h1>
<form action="/contact/list" method="post">
  <label for="new-contact">Add a new contact</label>
  <input id="new-contact" name="new-contact" type="text">

  <label for="new-phone-number">Add contact's phone number</label>
  <input id="new-phone-number" name="new-phone-number" type="text">

  <label for="new-address">Add contact's address</label>
  <input id="new-address" name="new-address" type="text">

  <button type="submit">Submit</button>
</form>
