<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
  <title>AddressBook</title>
</head>
<body>
  <div class="container">
  <div class="jumbotron">
    <h1>Address Book User Form</h1>
    <img id="flowerbook" src="/img/52157165.jpeg">
  </div>
    <form action="/contact/ContactDetails" method="post">
      <div class="row">
        <label for="new-contact">Add a new contact</label><br>
        <input id="new-contact" name="new-contact" type="text">
      </div>
      <div class="row">
        <label for="new-contactPhoneNumber">Add contact's phone number</label><br>
        <input id="new-contactPhoneNumber" name="new-contactPhoneNumber" type="text">
      </div>
      <div class="row"
      <label for="new-address">Add contact's address</label><br>
      <input id="new-address" name="new-address" type="text">
    </div>
    <div class="row"><br>
      <button type="submit">Submit</button>
    </div>
    <h1> Contact List </h1>
    <ul>
      @foreach(var contact in Model)
      {
        <li><a href='/contact/@contact.GetId()'>@contact.GetName()</a></li>
      }
    </ul>
    <br>
    <form action="/contacts/ClearContacts" method="post">
      <button type="submit" name="button">Clear contacts created</button>
    </div>
  </form>
</body>
