
.container {
  background-color: #f2bd38;
  text-align: center;
  font-size: 18px;
}

.jumbotron {
  color: #db533b;
  background-image: url("../img/wc2.jpg");
  background-position: center;
  background-size: 50%;
  background-color: #8bc78e;
  text-align: center;
}

h3 {
  font-weight: bold;
  color: #db533b;
}

#flowerbook {
  height: 100%;
  width: 100%;
}
